body{
   width: 80%;
}

#carouselExampleControls{
    margin-top:50px;
    
}
#baner1{
    margin-top: 150px;
}
#img1{
    text-align: right;
}
#row{
    grid-gap: 20px;
}
.h2{
    font-size:  60px;
    font-weight: 900;
}

#ro{
    width: 45%;
    margin: auto;
  
    align-items: center;
    margin-left:31%;
    padding-bottom: 100px;
}
#ron{
    width: 30%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
#al{
   
}